* {
  font-family: 'Open Sans', sans-serif;
}

video {
  width: 100%;
  height: auto;
}

.social-links .bi {
  font-size: 1.5rem;
  color: var(--bs-body-color);
}

.social-links .bi:hover {
  color: var(--bs-warning);
}

#color-icon {
  color: var(--bs-warning);
}

.work-img {
  background-color: #a2a2a2;
  height: 180px;
  width: 100%;
  background-size: cover;
  background-position: center;
}

/* #Media
================================================== */
@media (min-width: 992px) {
  .container-md {
    max-width: 800px;
  }
}
